@font-face {
  font-family: 'Barlow';
  src: local('Barlow'), url(./fonts/Barlow-Regular.ttf) format('truetype');
}
.App {
  text-align: center;
}

body {
  font-family:"Barlow" !important;
  background-color:#5d54a4 !important;
}

.wrapper {
  min-height:750px !important;
  font-size:50px !important;
  border: 10px solid #2A3D66;
  background-color: #8c57b5;

}
.separator {
  width:200px;
  background-color: white;
}
